<head>
<style>
p {color: MediumSeaGreen;}
body, p, li, input {font-size:18px}
</style>
</head>
<body style="background-color:lightgray;">
<h1 style="font-size:60px;">The National Museum Of Computing</h1>
<p style="font-size:40px;">Please Answer The Following Questions Below:</p>



<p style="font-size:40px;">Please check the correct box.</p>
<form action="submit" method = "post" >
{% csrf_token %}
{% for question in questions|dictsort:"id" %}
    <div id="question-{{forloop.counter}}">
    <p>{{question.title}}</p>
    <ul>
    {%for choice in question.choice_set.all %}
    <li><input type="{{question.type}}" name={{question.name}} value="{{choice.name}}">{{choice.name}}</li>
    {% endfor %}
    </ul>
    <a href="#">next</a>
    </div>
{% endfor %}
    <div id="question-{{questions|length|add:1}}">
        <ul>
            <li>
                <input type="submit" value="submit">
            </li>
        </ul>
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
{% for question in questions %}
$("#question-{{forloop.counter|add:1}}").hide()
{% endfor %}
{% for question in questions %}
$("#question-{{forloop.counter}} a").on("click", function(e){
    e.preventDefault()
    $("#question-{{forloop.counter}}").hide()
    $("#question-{{forloop.counter|add:1}}").show()
})
{% endfor %}
</script>
</body>