{% extends "questions/Base.html" %}{% block content %}
    <div class="row h-100">
      <div class="col">
        <div class="container">

          <p class="green" style="font-size:40px;">Please Answer The Following Questions Below:</p>

          <form action="submit" method = "post" >
            {% csrf_token %}
            {% for question in questions %}
            <div id="question-{{forloop.counter}}">
              <h3>{{question.title}}</h3>
              <p>
                {%for choice in question.choice_set.all %}
                {% if question.type == "radio" %}
                <input type="checkbox" class="chb" name={{question.name}} value="{{choice.name}}">{{choice.name}}<br/>
                {% elif question.type == "text" %}
                <textarea class="form-control" name={{question.name}} placeholder="{{choice.name}}"></textarea>
                {% elif question.type == "radio,text" %}
                <input type="checkbox" class="chb{% if forloop.counter == 2 %} stb{% else %} htb{% endif %}" name={{question.name}} value="{{choice.name}}">{{choice.name}}<br/>
                {% if forloop.counter == 2 %}
                <textarea class="form-control" name={{question.name}} style="display: none"></textarea>
                {% endif %}
                {% endif %}
                {% endfor %}
              </p>
              <a class="btn btn-secondary bg-green" href="#">Next</a>
            </div>
            {% endfor %}
            <div id="question-{{questions|length|add:1}}">
              <input class="btn btn-secondary bg-green" type="submit" value="Submit">
            </div>

          </form>
          <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
          <script>
            {% for question in questions %}
            $("#question-{{forloop.counter|add:1}}").hide()
            {% endfor %}
            {% for question in questions %}
            $("#question-{{forloop.counter}} a").on("click", function(e){
              e.preventDefault()
              $("#question-{{forloop.counter}}").hide()
              $("#question-{{forloop.counter|add:1}}").show()
            })
            {% endfor %}
          </script>
        </div>
      </div>
    </div>{% endblock content %}