.bg-green {
  background-color: #0e8c2a !important;
}

input[type=checkbox] {
  margin-right: 0.5em;
}

#logo {
  background-image: url("/static/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}
